body {
    background: #61a16e;
}

.content {
    margin: 3% 20%;
    // border: 1px solid red;
    .login-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 30%;
        color: #EEEEEE;
        text-align: center;
        // border: 2px solid blue;
        // background: white;
        .login-content {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 2%;
        }
        button {
            display: flex;
            border-radius: 16px;
            background: #EEEEEE;
            color: black;
            border: 1px solid black;
            padding: 4% 0 4% 42%;
            text-align: center;
            font-size: 1.2rem;
            width: 100%;
        }
        #login-btn {
            padding: 4% 45%;
            background: #61a16e;
            color: #EEEEEE;
        }
    }
}
.header {
    display: block;
    text-align: center;
    h1 {
        font-size: 4rem;
        color: #EEEEEE
    }
}